.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #c657ae, #35aee2);
  background-clip: text;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s infinite;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.body-text {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px;
  color: white;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.gradient-background {
  background: -webkit-linear-gradient(left, #c657ae, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.contract-input {
  height: 43px;
  border: 0;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #0d1116;
  margin-right: 10px;

}

.contract-validation {
  font-size: 15px;
  color: white;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}